h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#title {
    background-color: #FFDE4D;
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 15px;
    text-align: justify;
    border-radius: 10px;
}

#presentation {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #F3FEB8;
}

form{
    display: flex;
    margin-left: 5px;
    background-color: #FFB22C;
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}

#phrase {
    min-width: 300px;
    min-height: 220px;
    max-width: 425px;
    margin: auto 0px;
    background-color: #f4e496;
    padding: 0;
}

form>div {
    width: 100%;
}

form>div label {
    display: block;
}

#righttab {
    width: 250px;
    flex-shrink: 0;
    border-radius: 10px;
}

#sendbutton {
    text-align: center;
    border-radius: 10px;
    border: 0px solid black;
    background-color:#FFDE4D;
    margin: 2px;
    margin-top: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sendbutton:hover{
    background-color: #FFB22C;
}

#result {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    min-height: 100px;
    text-align: center;
    background-color: #FF4C4C;
    border-radius: 10px;
    overflow: auto;
    border-radius: 10px;
}

#righttab label {
    display: block;
    padding: 30px;
    background: #FFDE4D;
    background: radial-gradient(circle, rgba(255, 222, 77, 1) 0%, rgba(255, 178, 44, 1) 100%);
    margin: 2px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 10px;

}

#righttab label:hover {
    background: #FFB22C;
}

#righttab label input {
    display: none;
}

.selected {
    background: #e8a025 !important;
}